{% extends "base.html" %}
{% load staticfiles %}

{% block css_custums %}
{% endblock %}

{% block metadescription %}
  {% if category %}
  {{category.description|truncatewords:155}}
  {% else %}
  Himalaya Collection
  {% endif %}
  {% endblock %}
  {% block title %}
    {% if category %}
    {{category.name}}-Himalaya Collection
    {% else %}
     Himalaya Collection
    {% endif %}
  {% endblock %}
  {% block content %}


<div class="home">
  <!-- Home Slider -->
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

      <!-- Slide -->
      <div class="owl-item">
        <div class="background_image" style="background-image:url({% static 'img/home.jpg'%})"></div>
        <div class="container fill_height">
          <div class="row fill_height">
            <div class="col fill_height">
              <div class="home_container d-flex flex-column align-items-center justify-content-start">
                <div class="home_content">
                  <div class="home_title">Best Offer 50%</div>
                  <div class="home_subtitle">Summer Wear</div>
                  <div class="home_items">
                    <div class="row">
                      <div class="col-sm-3 offset-lg-1">
                        <div class="home_item_side"><a href="{% url 'category:products_by_category' 'sale' %}"><img src="{% static 'img/hello.jpg'%}" style="width:190px;" alt=""></a></div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                        <div class="product home_item_large">
                          <div class="product_tag d-flex flex-column align-items-center justify-content-center">
                            <div>
                              <div>from</div>
                              <div>£20<span>.o1</span></div>
                            </div>
                          </div>
                          <div class="product_image"><a href="{% url 'category:products_by_category' 'sale' %}"><img src="{% static 'img/pro3.jpg'%}" alt=""></div>
                          <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                              <div>
                                <div>
                                  <div class="product_name"><a href="{% url 'category:products_by_category' 'sale' %}">Cool Clothing </a></div>
                                  <div class="product_category">In <a href="{% url 'category:products_by_category' 'sale' %}">Category</a></div>
                                </div>
                              </div>
                              <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="product_price text-right">£15<span>.99</span></div>
                              </div>
                            </div>
                            <div class="product_buttons">
                              <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/heart.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/cart_2.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="home_item_side"><a href="#"><img src="{% static 'img/product_2.jpg'%}" alt=""></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="owl-item">
        <div class="background_image" style="background-image:url({% static 'img/pro1.jpg'%})"></div>
        <div class="container fill_height">
          <div class="row fill_height">
            <div class="col fill_height">
              <div class="home_container d-flex flex-column align-items-center justify-content-start">
                <div class="home_content">
                  <div class="home_title">Popular</div>
                  <div class="home_subtitle">Summer Wear</div>
                  <div class="home_items">
                    <div class="row">
                      <div class="col-sm-3 offset-lg-1">
                        <div class="home_item_side"><a href="#"><img src="{% static 'img/product_8.jpg'%}" alt=""></a></div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                        <div class="product home_item_large">
                          <div class="product_tag d-flex flex-column align-items-center justify-content-center">
                            <div>
                              <div>from</div>
                              <div>£15<span>.95</span></div>
                            </div>
                          </div>
                          <div class="product_image"><a href="{% url 'category:products_by_category' 'women' %}"><img src="{% static 'img/home_2.jpg'%}" alt=""></div>
                          <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                              <div>
                                <div>
                                  <div class="product_name"><a href="#">Cool Clothing</a></div>
                                  <div class="product_category">In <a href="category.html">Category</a></div>
                                </div>
                              </div>
                              <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="product_price text-right">£10<span>.99</span></div>
                              </div>
                            </div>
                            <div class="product_buttons">
                              <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/heart.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/cart_2.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="home_item_side"><a href="product.html"><img src="{% static 'img/product_5.jpg'%}" alt=""></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="owl-item">
        <div class="background_image" style="background-image:url({% static 'img/pro2.jpg'%})"></div>
        <div class="container fill_height">
          <div class="row fill_height">
            <div class="col fill_height">
              <div class="home_container d-flex flex-column align-items-center justify-content-start">
                <div class="home_content">
                  <div class="home_title">Prayer Beads !</div>
                  <div class="home_subtitle">Spiritual</div>
                  <div class="home_items">
                    <div class="row">
                      <div class="col-sm-3 offset-lg-1">
                        <div class="home_item_side"><a href="{% url 'category:products_by_category' 'accessories' %}"><img src="{% static 'img/a13.jpg'%}" alt=""></a></div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                        <div class="product home_item_large">
                          <div class="product_tag d-flex flex-column align-items-center justify-content-center">
                            <div>
                              <div>from</div>
                              <div>£19<span>.99</span></div>
                            </div>
                          </div>
                          <div class="product_image"><a href="{% url 'category:products_by_category' 'accessories' %}"><img src="{% static 'img/a14.jpg'%}" alt=""></div>
                          <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                              <div>
                                <div>
                                  <div class="product_name"><a href="#">Ritual Rosary</a></div>
                                  <div class="product_category">In <a href="#">Category</a></div>
                                </div>
                              </div>
                              <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="product_price text-right">$20<span>.99</span></div>
                              </div>
                            </div>
                            <div class="product_buttons">
                              <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/heart.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/cart_2.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="home_item_side"><a href="{% url 'category:products_by_category' 'accessories' %}"><img src="{% static 'img/a11.jpg'%}" alt=""></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="owl-item">
        <div class="background_image" style="background-image:url({% static 'img/home.jpg'%})"></div>
        <div class="container fill_height">
          <div class="row fill_height">
            <div class="col fill_height">
              <div class="home_container d-flex flex-column align-items-center justify-content-start">
                <div class="home_content">
                  <div class="home_title">Best Sellers </div>
                  <div class="home_subtitle">Summer Wear</div>
                  <div class="home_items">
                    <div class="row">
                      <div class="col-sm-3 offset-lg-1">
                        <div class="home_item_side"><a href="{% url 'category:products_by_category' 'women' %}"><img src="{% static 'img/home_1.jpg'%}" alt=""></a></div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                        <div class="product home_item_large">
                          <div class="product_tag d-flex flex-column align-items-center justify-content-center">
                            <div>
                              <div>from</div>
                              <div>$3<span>.99</span></div>
                            </div>
                          </div>
                          <div class="product_image"><a href="{% url 'category:products_by_category' 'women' %}"><img src="{% static 'img/product_3.jpg'%}" alt=""></div>
                          <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                              <div>
                                <div>
                                  <div class="product_name"><a href="#">Cool Clothing with Brown Stripes</a></div>
                                  <div class="product_category">In <a href="#">Category</a></div>
                                </div>
                              </div>
                              <div class="ml-auto text-right">
                                <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                <div class="product_price text-right">$3<span>.99</span></div>
                              </div>
                            </div>
                            <div class="product_buttons">
                              <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/heart.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                  <div><div><img src="{% static 'img/cart_2.svg'%}" alt=""><div>+</div></div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="home_item_side"><a href="{% url 'category:products_by_category' 'women' %}"><img src="{% static 'img/home_3.jpg'%}" alt=""></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_slider_dots">
              <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-center">
                <li class="home_slider_custom_dot active">01</li>
                <li class="home_slider_custom_dot">02</li>
                <li class="home_slider_custom_dot">03</li>
                <li class="home_slider_custom_dot">04</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Products -->

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section_title text-center">HIMALAYA COLLECTION</div>
      </div>
    </div>
    <div class="row page_nav_row">
      <div class="col">
        <div class="page_nav">
          <ul class="d-flex flex-row align-items-start justify-content-center">
            {% for cat in links %}
            <a class="dropdown-item" href="{% url 'category:products_by_category' cat.slug %}">{{cat.name}}</a>
         {% endfor %}
          </ul>
        </div>
      </div>
    </div>


        <div class="row products_row">

          <!-- Product -->
          {% for product in products.object_list %}
          					<!-- Product -->
          					<div class="col-xl-4 col-md-6 grid-item new">
          						<div class="product">
          							<div class="product_image"><a href="{% url 'product:product' product.slug %}"><img src="{{product.image.url}}" style="width:350px;height:400px;" alt="" style=""></a></div>

          								<div class="product_info d-flex flex-row align-items-start justify-content-start">
          									<div>
          										<div>
          											<div class="product_name"><a href="{% url 'product:product' product.slug %}">{{product.name}}</a></div>
          											<div class="product_category">In <a href="category.html">{{product.category}}</a></div>
          										</div>
          									</div>
          									<div class="ml-auto text-right">
          										<div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
          										<div class="product_price text-right">{{product.price}}</div>
          									</div>
          								</div>
          								<div class="product_buttons">
          									<div class="text-right d-flex flex-row align-items-start justify-content-start">
          										<div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
          											<div><div><img src="{% static 'img/heart_2.svg' %}" class="svg" alt=""><div>+</div></div></div>
          										</div>
                              <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
            										<div><div><a href="{% url 'cart:add_cart' product.id %}"><img src="{% static 'img/cart.svg' %}" class="svg"  style="color:black;" alt=""><div>+</div></div></div>
            									</div>
          									</div>
          								</div>

          						</div>
          					</div>

                {% endfor %}


      <!--  </div>
        <div class="row load_more_row">
          <div class="col">
            <div class="button load_more ml-auto mr-auto"><a href="#">load more</a></div>
          </div>
        </div>
      </div>
    </div> -->

<div class="boxes">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">

          <!-- Box -->
          <div class="box">
            <div class="background_image" style="background-image:url({% static 'img/pro2.jpg'%})"></div>
            <div class="box_content d-flex flex-row align-items-center justify-content-start">
              <div class="box_left">
                <div class="box_image">
                  <a href="{% url 'category:products_by_category' 'women' %}">
                   <div class="background_image" style="background-image:url({% static 'img/box_1_img.jpg'%})"></div>
                  </a>
                </div>
              </div>
              <div class="box_right text-center">
                <div class="box_title">Trendsetter Collection</div>
              </div>
            </div>
          </div>

          <!-- Box -->
          <div class="box">
            <div class="background_image" style="background-image:url({% static 'img/pro1.jpg'%})"></div>
            <div class="box_content d-flex flex-row align-items-center justify-content-start">
              <div class="box_left">
                <div class="box_image">
                  <a href="{% url 'category:products_by_category' 'women' %}"></a>
                   <div class="background_image" style="background-image:url({% static 'img/a13.jpg'%})"></div>

                </div>
              </div>
              <div class="box_right text-center">
                <div class="box_title">Trendsetter Collection</div>
              </div>
            </div>
          </div>


          <!-- Box -->
          <div class="box">
            <div class="background_image" style="background-image:url({% static 'img/ba.jpg'%})"></div>
            <div class="box_content d-flex flex-row align-items-center justify-content-start">
              <div class="box_left">
                <div class="box_image">
                  <a href="{% url 'category:products_by_category' 'bags' %}">
                    <div class="background_image" style="background-image:url({% static 'img/ba1.jpg'%})"></div>
                  </a>
                </div>
              </div>
              <div class="box_right text-center">
                <div class="box_title">Popular bags</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features -->



  {% endblock %}
